<a href="https://colab.research.google.com/github/telecaster15/tourbigdata/blob/master/notebook/19_18_chind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2018,2019 데이터 결합

In [ ]:
import pandas as pd

In [ ]:
df_2018 = pd.read_csv('/content/drive/My Drive/빅데이터/2018_d1.csv')

In [ ]:
df_2019 = pd.read_csv('/content/drive/My Drive/빅데이터/2019_d1.csv')

In [ ]:
m_df = pd.concat([df_2018,df_2019],ignore_index= True)

In [ ]:
m_df.head()

   Unnamed: 0  Q2A1  Q5_1  QQ_1  ...  Q15_2A10  Q15_2A11  Q15_2A12  Q10_2A1
0         407   NaN   2.0     0  ...       5.0       5.0       5.0      2.0
1         443   NaN   2.0     0  ...       5.0       5.0       5.0      3.0
2         491   4.0   2.0     0  ...       5.0       5.0       5.0     14.0
3        1054   4.0   2.0     0  ...       3.0       5.0       5.0     78.0
4        1063   2.0   1.0     0  ...       5.0       5.0       5.0      1.0

[5 rows x 35 columns]

In [ ]:
m_df['Q2A1'].fillna(1,inplace=True)

In [ ]:
m_df['Q2A1'].isnull().sum()

0

In [ ]:
m_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
m_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3571 entries, 0 to 3570
Data columns (total 34 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Q2A1      3571 non-null   float64
 1   Q5_1      3571 non-null   float64
 2   QQ_1      3571 non-null   int64
 3   QQ_2      3571 non-null   int64
 4   QQ_3      3571 non-null   int64
 5   QQ_4      3571 non-null   int64
 6   QQ_5      3571 non-null   int64
 7   QQ_6      3571 non-null   int64
 8   QQ_7      3571 non-null   int64
 9   QQ_8      3571 non-null   int64
 10  QQ_9      3571 non-null   int64
 11  QQ_10     3571 non-null   int64
 12  QQ_11     3571 non-null   int64
 13  QQ_12     3571 non-null   int64
 14  QQ_13     3571 non-null   int64
 15  QQ_14     3571 non-null   int64
 16  CQ14_1T   3571 non-null   float64
 17  D_COU     3571 non-null   int64
 18  D_GEN     3571 non-null   float64
 19  D_AGE     3571 non-null   float64
 20  Q16_a     3571 non-null   int64
 21  Q15_2A1   3571 non-null   float64
 22  Q15_2A2   3571 non-null   float64
 23  Q15_2A3   3571 non-null   float64
 24  Q15_2A4   3571 non-null   float64
 25  Q15_2A5   3571 non-null   float64
 26  Q15_2A6   3571 non-null   float64
 27  Q15_2A7   3571 non-null   float64
 28  Q15_2A8   3571 non-null   float64
 29  Q15_2A9   3571 non-null   float64
 30  Q15_2A10  3571 non-null   float64
 31  Q15_2A11  3571 non-null   float64
 32  Q15_2A12  3571 non-null   float64
 33  Q10_2A1   3571 non-null   float64
dtypes: float64(18), int64(16)
memory usage: 948.7 KB

In [ ]:
m_df.to_csv('/content/drive/My Drive/빅데이터/m_d1.csv')

In [ ]:
m_df['CQ14_1T'].value_counts()

2.0     1186
3.0      754
1.0      672
4.0      360
5.0      322
6.0      251
98.0      26
Name: CQ14_1T, dtype: int64

In [ ]:
for i in range(len(m_df['CQ14_1T'])):
  if m_df['CQ14_1T'][i:i+1].values == 98:
    m_df['CQ14_1T'][i:i+1]= 7

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
m_df['CQ14_1T'].value_counts()

2.0    1186
3.0     754
1.0     672
4.0     360
5.0     322
6.0     251
7.0      26
Name: CQ14_1T, dtype: int64

In [ ]:
m_df.to_csv('/content/drive/My Drive/빅데이터/m_d1.csv')