<a href="https://colab.research.google.com/github/telecaster15/tourbigdata/blob/master/notebook/2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2018 외래관광 데이터 전처리

In [ ]:
import pandas as pd

## 데이터 불러오기

In [ ]:
df = pd.read_csv('/content/drive/My Drive/빅데이터/2018외래.csv',index_col=None)

In [ ]:
mu_df = df[(df['D_COU']==7)|(df['D_COU']==15)|(df['D_COU']==18)]

In [ ]:
mu_df.head()

      Unnamed: 0  Q1  Q2A1  Q2A2  Q2A3  ...  D_Q1  DD_Q1        WT  COUNTRY  CITY
407          408   6   NaN   NaN   NaN  ...     4      2  0.409352       51  5145
443          444   3   NaN   NaN   NaN  ...     3      2  0.299390       58  5037
491          492   1   4.0   NaN   NaN  ...     1      1  0.409352       61  5073
1054        1055   1   4.0   NaN   NaN  ...     1      1  0.269104       51  5145
1063        1064   1   2.0   NaN   NaN  ...     1      1  1.030614       66  5109

[5 rows x 411 columns]

[['Q2A1','Q5_1','QQ_1','QQ_2','QQ_3','QQ_4','QQ_5','QQ_6','QQ_7','QQ_8','QQ_9','QQ_10','QQ_11','QQ_12','QQ_13','QQ_14','CQ14_1T','D_COU','D_GEN','D_AGE','Q16_a','Q10_2A1',
             'Q15_2A1','Q15_2A2','Q15_2A3','Q15_2A4','Q15_2A5','Q15_2A6','Q15_2A7','Q15_2A8','Q15_2A9','Q15_2A10','Q15_2A11','Q15_2A12']]

## 전처리

In [ ]:
# 중동, 비중동 나누기
mu_df['D_COU'] = mu_df['D_COU'].apply(lambda x: 1 if x == 15 else 0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
mu_df['D_COU'].value_counts()

0    1199
1     560
Name: D_COU, dtype: int64

In [ ]:
mu_df['Q5_1'].value_counts()

1    1278
2     390
3      83
4       7
5       1
Name: Q5_1, dtype: int64

In [ ]:
mu_df['Q9_1A1']

407      13
443       4
491      13
1054      2
1063      2
         ..
16404     2
16409     1
16410     2
16419     1
16420     1
Name: Q9_1A1, Length: 1759, dtype: int64

In [ ]:
m_t4=mu_df

In [ ]:
for i in range(1,15):
  m_t4['QQ_{0}'.format(i)]=0
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# 주요 활동 컬럼 생성 및 저장 
for j in range(20):
  for i in range(len(m_t4['Q9_1A{0}'.format(j+1)])):
    if m_t4['Q9_1A{0}'.format(j+1)][i:i+1].values == 20:
      m_t4['QQ_14'][i:i+1]= 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:1042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_with(key, value)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
for i in range(1,15):
  print(m_t4['QQ_{0}'.format(i)].value_counts())

0    896
1    863
Name: QQ_1, dtype: int64
1    1666
0      93
Name: QQ_2, dtype: int64
1    1184
0     575
Name: QQ_3, dtype: int64
1    1092
0     667
Name: QQ_4, dtype: int64
0    1042
1     717
Name: QQ_5, dtype: int64
0    1172
1     587
Name: QQ_6, dtype: int64
0    1508
1     251
Name: QQ_7, dtype: int64
0    1542
1     217
Name: QQ_8, dtype: int64
0    1549
1     210
Name: QQ_9, dtype: int64
0    1599
1     160
Name: QQ_10, dtype: int64
0    1357
1     402
Name: QQ_11, dtype: int64
0    1607
1     152
Name: QQ_12, dtype: int64
0    1710
1      49
Name: QQ_13, dtype: int64
0    935
1    824
Name: QQ_14, dtype: int64

In [ ]:
m_t4['Q16']

407      5
443      5
491      5
1054     5
1063     3
        ..
16404    5
16409    4
16410    5
16419    4
16420    4
Name: Q16, Length: 1759, dtype: int64

In [ ]:
 m_t4['Q16_a']=0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# 만족, 불만족 나누기 
for i in range(len(m_t4['Q16'])):
  if m_t4['Q16'][i:i+1].values == 4 or m_t4['Q16'][i:i+1].values == 5 :
    m_t4['Q16_a'][i:i+1]= 1
  else:
    m_t4['Q16_a'][i:i+1]= 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:1042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_with(key, value)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
ms_df= m_t4[['Q2A1','Q5_1','QQ_1','QQ_2','QQ_3','QQ_4','QQ_5','QQ_6','QQ_7','QQ_8','QQ_9','QQ_10','QQ_11','QQ_12','QQ_13','QQ_14','CQ14_1T','D_COU','D_GEN','D_AGE','Q16_a','Q11A1',
             'Q15_2A1','Q15_2A2','Q15_2A3','Q15_2A4','Q15_2A5','Q15_2A6','Q15_2A7','Q15_2A8','Q15_2A9','Q15_2A10','Q15_2A11','Q15_2A12']]

In [ ]:
ms_df['Q10_2A1'] = ms_df['Q11A1']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
ms_df.drop(['Q11A1'],axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
ms_df.head()

      Q2A1  Q5_1  QQ_1  QQ_2  ...  Q15_2A10  Q15_2A11  Q15_2A12  Q10_2A1
407    NaN     2     0     1  ...         5         5         5        2
443    NaN     2     0     1  ...         5         5         5        3
491    4.0     2     0     0  ...         5         5         5       14
1054   4.0     2     0     1  ...         3         5         5       78
1063   2.0     1     0     1  ...         5         5         5        1

[5 rows x 34 columns]

In [ ]:
# 결측 항목 제거 
for i in range(len(m_t4['CQ14_1T'])):
  if m_t4['CQ14_1T'][i:i+1].values == 98:
    m_t4['CQ14_1T'][i:i+1]= 7

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:1042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_with(key, value)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
m_t4['CQ14_1T'].value_counts()

2    592
3    383
1    325
4    178
5    153
6    113
7     15
Name: CQ14_1T, dtype: int64

In [ ]:
ms_df.to_csv('/content/drive/My Drive/빅데이터/2018_d1.csv')