<a href="https://colab.research.google.com/github/telecaster15/tourbigdata/blob/master/notebook/2019sav.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pip install pyreadstat

Requirement already satisfied: pyreadstat in /usr/local/lib/python3.6/dist-packages (1.0.0)
Requirement already satisfied: pandas>0.24.0 in /usr/local/lib/python3.6/dist-packages (from pyreadstat) (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>0.24.0->pyreadstat) (1.15.0)

In [ ]:
import pyreadstat

In [ ]:
df,meta = pyreadstat.read_sav('/content/drive/My Drive/빅데이터/DATA_2019_외래관광객조사.sav')

In [ ]:
df.head()

     Q1  Q2A1  Q2A2  Q2A3  Q2A4  ...  D_Q12  D_Q1  D_Q1A  CITY        WT
0   2.0   3.0   NaN   NaN   NaN  ...    1.0   2.0    2.0   1.0  1.444420
1   1.0   3.0   NaN   NaN   NaN  ...    1.0   1.0    1.0   1.0  1.444420
2   3.0   3.0   NaN   NaN   NaN  ...    1.0   3.0    2.0   1.0  1.472539
3  10.0   1.0   NaN   NaN   NaN  ...    1.0   4.0    2.0   1.0  1.923248
4   1.0   3.0   NaN   NaN   NaN  ...    3.0   1.0    1.0   1.0  1.472539

[5 rows x 439 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(meta)

pyreadstat._readstat_parser.metadata_container

In [ ]:
meta.file_encoding

'EUC-KR'

In [ ]:
df.columns = meta.column_names

<b>컬럼 리스트</b>
- 국가별(중동3개 권역) : D_COU2 (15.1: 중앙아시아	15.2: GCC	15.3: 기타중동)

- 방한목적별 : D_Q5_1 (1: 여가, 위락, 휴가	2: 친구, 친지 방문	3: 사업 또는 전문활동 4: 교육	5: 종교 및 순례	6: 기타)

- 여행형태별 : D_Q12 (1: 개별여행	2: 단체여행	3: Air-Tel Tour)

- 성별 : D_GEN(1: 남성	2: 여성
)

- 연령별 : D_AGE (1: 15-20세	2: 21-30세	3: 31-40세	4: 41-50세
5: 51-60세	6: 61세 이상	)

- 동반자 현황 : Q2A1~Q2A5 ( 1: 혼자 방문	2: 가족/친지	3: 친구/연인
4: 직장동료	5: 기타	 )

- 한국 방문 선택 시 고려 요인 : Q5_2A1~
Q5_2A3 ( 1: 음식/미식 탐방	2: 쇼핑	3: 자연 풍경 감상
4: 역사/문화 유적/
   전통문화 체험	5: 패션, 유행 등 
   세련된 현대 문화 체험	6: K-POP/한류스타 관련
   팬 미팅, 촬영지 등 경험
7: 유흥/놀이 시설 체험	8: 치료 및 미용 서비스 체험	9: 레저 및 스포츠 활동
10: 휴가 시간	11: 자국과의 이동 거리	12: 경제적인 여행비용
13: 기타		 )

- 주요 참여 활동 : Q9_1A1 ~
 Q9_1A20 ( 1: 식도락 관광	2: 쇼핑	3: 자연경관 감상
4: 고궁/역사 유적지 방문	5: 전통문화체험	6: 박물관, 전시관 방문
7: K-POP/한류스타 관련 
공연장 및 드라마 촬영지 방문	8: 유흥/오락	9: 뷰티/의료관광
10: 스포츠/레저 관람 및 참가	11: 업무수행	12: 연수·교육·연구
13: 시찰	14: 기타	 )

- 가장 만족한 활동1~3 : Q9_2A1 ~
 Q9_2A3 ( 1: 식도락 관광	2: 쇼핑	3: 자연경관 감상
4: 고궁/역사 유적지 방문	5: 전통문화체험	6: 박물관, 전시관 방문
7: K-POP/한류스타 관련 
공연장 및 드라마 촬영지 방문	8: 유흥/오락	9: 뷰티/의료관광
10: 스포츠/레저 관람 및 참가	11: 업무수행	12: 연수·교육·연구
13: 시찰	14: 기타 )

- 재방문여부별 : D_Q1A (1: 처음 방문	2: 재방문
)

- 향후 3년 내 관광목적 재방문 의향 : Q16 (1: 전혀 그렇지 않다	2: 그렇지 않다	3: 보통
4: 그렇다	5: 매우 그렇다	)

In [ ]:
meta.column_names_to_labels

{'A_CQ14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_총액(카테고리)',
 'A_CQ14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_기타(카테고리)',
 'A_CQ14_2_2': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_본인 거주국 지불경비(카테고리)',
 'A_CQ14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_쇼핑비(카테고리)',
 'A_CQ14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_식음료비(카테고리)',
 'A_CQ14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_현지 교통비(카테고리)',
 'A_CQ14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_한국 여행사 지불비(카테고리)',
 'A_CQ14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_문화, 오락 관련 지출(카테고리)',
 'A_CQ14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_데이터 통신비(카테고리)',
 'A_CQ14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_치료비(카테고리)',
 'A_MQ14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_총액(최대금액 결측)',
 'A_MQ14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_기타(최대금액 결측)',
 'A_MQ14_2_2': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_본인 거주국 지불경비(최대금액 결측)',
 'A_MQ14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_쇼핑비(최대금액 결측)',
 'A_MQ14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_식음료비(최대금액 결측)',
 'A_MQ14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_현지 교통비(최대금액 결측)',
 'A_MQ14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_한국 여행사 지불비(최대금액 결측)',
 'A_MQ14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_문화, 오락 관련 지출(최대금액 결측)',
 'A_MQ14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_데이터 통신비(최대금액 결측)',
 'A_MQ14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_치료비(최대금액 결측)',
 'A_Q14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_총액(원자료)',
 'A_Q14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_기타(원자료)',
 'A_Q14_2_2': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_본인 거주국 지불경비(원자료)',
 'A_Q14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_쇼핑비(원자료)',
 'A_Q14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_식음료비(원자료)',
 'A_Q14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_현지 교통비(원자료)',
 'A_Q14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_한국 여행사 지불비(원자료)',
 'A_Q14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_문화, 오락 관련 지출(원자료)',
 'A_Q14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_데이터 통신비(원자료)',
 'A_Q14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_Air-Tel_항목별_치료비(원자료)',
 'CITY': '거주도시',
 'CQ10_6A1': '문10-6. 총 숙박기간(카테고리)',
 'CQ10_6A2': '문10-6. 총 체재기간(카테고리)',
 'CQ14_1A': '문14-1. 1인 평균 지출 경비_전체_결제방법_신용카드, 체크카드(카테고리)',
 'CQ14_1B': '문14-1. 1인 평균 지출 경비_전체_결제방법_현금, 수표(카테고리)',
 'CQ14_1C': '문14-1. 1인 평균 지출 경비_전체_결제방법_스마트폰(카테고리)',
 'CQ14_1T': '문14-1. 1인 평균 지출 경비_전체_총액(카테고리)',
 'CQ14_2_1': '문14-1. 1인 평균 지출 경비_전체_항목별_숙박비(카테고리)',
 'CQ14_2_10': '문14-1. 1인 평균 지출 경비_전체_항목별_기타(카테고리)',
 'CQ14_2_2': '문14-1. 1인 평균 지출 경비_전체_항목별_본인 거주국 지불경비(카테고리)',
 'CQ14_2_3': '문14-1. 1인 평균 지출 경비_전체_항목별_쇼핑비(카테고리)',
 'CQ14_2_4': '문14-1. 1인 평균 지출 경비_전체_항목별_식음료비(카테고리)',
 'CQ14_2_5': '문14-1. 1인 평균 지출 경비_전체_항목별_현지 교통비(카테고리)',
 'CQ14_2_6': '문14-1. 1인 평균 지출 경비_전체_항목별_한국 여행사 지불비(카테고리)',
 'CQ14_2_7': '문14-1. 1인 평균 지출 경비_전체_항목별_문화, 오락 관련 지출(카테고리)',
 'CQ14_2_8': '문14-1. 1인 평균 지출 경비_전체_항목별_데이터 통신비(카테고리)',
 'CQ14_2_9': '문14-1. 1인 평균 지출 경비_전체_항목별_치료비(카테고리)',
 'DAY_A_CQ14_1T': '문14-1. 여행형태별 1일 평균 지출 경비_단체여행_총액(61일 이상 & 최대금액 초과 제외_카테고리)',
 'DAY_A_MQ14_1T': '문14-1. 여행형태별 1일 평균 지출 경비_단체여행_총액(61일 이상 & 최대금액 초과 제외)',
 'DAY_CQ14_1T': '문14-1. 1일 평균 지출 경비_전체_총액(61일 이상 & 최대금액 초과 제외_카테고리)',
 'DAY_GA_CQ14_1T': '문14-1. 여행형태별 1일 평균 지출 경비_Air-Tel_총액(61일 이상 & 최대금액 초과 제외_카테고리)',
 'DAY_GA_MQ14_1T': '문14-1. 여행형태별 1일 평균 지출 경비_Air-Tel_총액(61일 이상 & 최대금액 초과 제외)',
 'DAY_I_CQ14_1T': '문14-1. 여행형태별 1일 평균 지출 경비_개별여행_총액(61일 이상 & 최대금액 초과 제외_카테고리)',
 'DAY_I_MQ14_1T': '문14-1. 여행형태별 1일 평균 지출 경비_개별여행_총액(61일 이상 & 최대금액 초과 제외)',
 'DAY_MQ14_1T': '문14-1. 1일 평균 지출 경비_전체_총액(61일 이상 & 최대금액 초과 제외)',
 'D_AGE': '연령별',
 'D_COU1': '국가별',
 'D_COU2': '국가별(중동3개 권역)',
 'D_GEN': '성별',
 'D_MON': '월별',
 'D_Q1': '방한횟수별',
 'D_Q12': '여행형태별',
 'D_Q1A': '재방문여부별',
 'D_Q5_1': '방한목적별',
 'D_QUA': '분기별',
 'GA_CQ14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_총액(카테고리)',
 'GA_CQ14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_기타(카테고리)',
 'GA_CQ14_2_2': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_본인 거주국 지불경비(카테고리)',
 'GA_CQ14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_쇼핑비(카테고리)',
 'GA_CQ14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_식음료비(카테고리)',
 'GA_CQ14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_현지 교통비(카테고리)',
 'GA_CQ14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_한국 여행사 지불비(카테고리)',
 'GA_CQ14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_문화, 오락 관련 지출(카테고리)',
 'GA_CQ14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_데이터 통신비(카테고리)',
 'GA_CQ14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_치료비(카테고리)',
 'GA_MQ14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_총액(최대금액 결측)',
 'GA_MQ14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_기타(최대금액 결측)',
 'GA_MQ14_2_2': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_본인 거주국 지불경비(최대금액 결측)',
 'GA_MQ14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_쇼핑비(최대금액 결측)',
 'GA_MQ14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_식음료비(최대금액 결측)',
 'GA_MQ14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_현지 교통비(최대금액 결측)',
 'GA_MQ14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_한국 여행사 지불비(최대금액 결측)',
 'GA_MQ14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_문화, 오락 관련 지출(최대금액 결측)',
 'GA_MQ14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_데이터 통신비(최대금액 결측)',
 'GA_MQ14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_치료비(최대금액 결측)',
 'GA_Q14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_기타(원자료)',
 'GA_Q14_2_1T': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-Tel_총액(원자료)',
 'GA_Q14_2_2': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_본인 거주국 지불경비(원자료)',
 'GA_Q14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_쇼핑비(원자료)',
 'GA_Q14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_식음료비(원자료)',
 'GA_Q14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_현지 교통비(원자료)',
 'GA_Q14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_한국 여행사 지불비(원자료)',
 'GA_Q14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_문화, 오락 관련 지출(원자료)',
 'GA_Q14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_데이터 통신비(원자료)',
 'GA_Q14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_단체+Air-tel_항목별_치료비(원자료)',
 'G_CQ14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_총액(카테고리)',
 'G_CQ14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_기타(카테고리)',
 'G_CQ14_2_2': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_본인 거주국 지불경비(카테고리)',
 'G_CQ14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_쇼핑비(카테고리)',
 'G_CQ14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_식음료비(카테고리)',
 'G_CQ14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_현지 교통비(카테고리)',
 'G_CQ14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_한국 여행사 지불비(카테고리)',
 'G_CQ14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_문화, 오락 관련 지출(카테고리)',
 'G_CQ14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_데이터 통신비(카테고리)',
 'G_CQ14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_치료비(카테고리)',
 'G_MQ14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_총액(최대금액 결측)',
 'G_MQ14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_기타(최대금액 결측)',
 'G_MQ14_2_2': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_본인 거주국 지불경비(최대금액 결측)',
 'G_MQ14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_쇼핑비(최대금액 결측)',
 'G_MQ14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_식음료비(최대금액 결측)',
 'G_MQ14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_현지 교통비(최대금액 결측)',
 'G_MQ14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_한국 여행사 지불비(최대금액 결측)',
 'G_MQ14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_문화, 오락 관련 지출(최대금액 결측)',
 'G_MQ14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_데이터 통신비(최대금액 결측)',
 'G_MQ14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_치료비(최대금액 결측)',
 'G_Q14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_총액(원자료)',
 'G_Q14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_기타(원자료)',
 'G_Q14_2_2': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_본인 거주국 지불경비(원자료)',
 'G_Q14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_쇼핑비(원자료)',
 'G_Q14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_식음료비(원자료)',
 'G_Q14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_현지 교통비(원자료)',
 'G_Q14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_한국 여행사 지불비(원자료)',
 'G_Q14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_문화, 오락 관련 지출(원자료)',
 'G_Q14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_데이터 통신비(원자료)',
 'G_Q14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_단체여행_항목별_치료비(원자료)',
 'ID': '일련번호',
 'I_CQ14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_총액(카테고리)',
 'I_CQ14_2_1': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_숙박비(카테고리)',
 'I_CQ14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_기타(카테고리)',
 'I_CQ14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_쇼핑비(카테고리)',
 'I_CQ14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_식음료비(카테고리)',
 'I_CQ14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_현지 교통비(카테고리)',
 'I_CQ14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_한국 여행사 지불비(카테고리)',
 'I_CQ14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_문화, 오락 관련 지출(카테고리)',
 'I_CQ14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_데이터 통신비(카테고리)',
 'I_CQ14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_치료비(카테고리)',
 'I_MQ14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_총액(최대금액 결측)',
 'I_MQ14_2_1': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_숙박비(최대금액 결측)',
 'I_MQ14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_기타(최대금액 결측)',
 'I_MQ14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_쇼핑비(최대금액 결측)',
 'I_MQ14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_식음료비(최대금액 결측)',
 'I_MQ14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_현지 교통비(최대금액 결측)',
 'I_MQ14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_한국 여행사 지불비(최대금액 결측)',
 'I_MQ14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_문화, 오락 관련 지출(최대금액 결측)',
 'I_MQ14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_데이터 통신비(최대금액 결측)',
 'I_MQ14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_치료비(최대금액 결측)',
 'I_Q14_1T': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_총액(원자료)',
 'I_Q14_2_1': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_숙박비(원자료)',
 'I_Q14_2_10': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_기타(원자료)',
 'I_Q14_2_3': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_쇼핑비(원자료)',
 'I_Q14_2_4': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_식음료비(원자료)',
 'I_Q14_2_5': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_현지 교통비(원자료)',
 'I_Q14_2_6': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_한국 여행사 지불비(원자료)',
 'I_Q14_2_7': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_문화, 오락 관련 지출(원자료)',
 'I_Q14_2_8': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_데이터 통신비(원자료)',
 'I_Q14_2_9': '문14-1. 여행형태별 1인 평균 지출 경비_개별여행_항목별_치료비(원자료)',
 'MQ10_4_10A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 10 경남',
 'MQ10_4_10A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 10 경남',
 'MQ10_4_11A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 11 대구',
 'MQ10_4_11A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 11 대구',
 'MQ10_4_12A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 12 울산',
 'MQ10_4_12A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 12 울산',
 'MQ10_4_13A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 13 부산',
 'MQ10_4_13A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 13 부산',
 'MQ10_4_14A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 14 광주',
 'MQ10_4_14A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 14 광주',
 'MQ10_4_15A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 15 전북',
 'MQ10_4_15A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 15 전북',
 'MQ10_4_16A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 16 전남',
 'MQ10_4_16A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 16 전남',
 'MQ10_4_17A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 17 제주',
 'MQ10_4_17A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 17 제주',
 'MQ10_4_1A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 1 서울',
 'MQ10_4_1A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 1 서울',
 'MQ10_4_2A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 2 경기',
 'MQ10_4_2A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 2 경기',
 'MQ10_4_3A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 3 인천',
 'MQ10_4_3A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 3 인천',
 'MQ10_4_4A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 4 강원',
 'MQ10_4_4A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 4 강원',
 'MQ10_4_5A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 5 대전',
 'MQ10_4_5A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 5 대전',
 'MQ10_4_6A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 6 충북',
 'MQ10_4_6A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 6 충북',
 'MQ10_4_7A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 7 충남',
 'MQ10_4_7A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 7 충남',
 'MQ10_4_8A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 8 세종',
 'MQ10_4_8A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 8 세종',
 'MQ10_4_9A1': '문10-4. 시도별 숙박기간(총 숙박기간 60박 이상 결측) - 9 경북',
 'MQ10_4_9A2': '문10-4. 시도별 체재기간(총 체재기간 61일 이상 결측) - 9 경북',
 'MQ10_6A1': '문10-6. 총 숙박기간(총 숙박기간 60박 이상 결측)',
 'MQ10_6A2': '문10-6. 총 체재기간(총 체재기간 61일 이상 결측)',
 'MQ14_1A': '문14-1. 1인 평균 지출 경비_전체_결제방법_신용카드, 체크카드(최대금액 초과 결측)',
 'MQ14_1B': '문14-1. 1인 평균 지출 경비_전체_결제방법_현금, 수표(최대금액 초과 결측)',
 'MQ14_1C': '문14-1. 1인 평균 지출 경비_전체_결제방법_스마트폰(최대금액 초과 결측)',
 'MQ14_1T': '문14-1. 1인 평균 지출 경비_전체_총액(최대금액 초과 결측)',
 'MQ14_2_1': '문14-1. 1인 평균 지출 경비_전체_항목별_숙박비(최대금액 초과 결측)',
 'MQ14_2_10': '문14-1. 1인 평균 지출 경비_전체_항목별_기타(최대금액 초과 결측)',
 'MQ14_2_2': '문14-1. 1인 평균 지출 경비_전체_항목별_본인 거주국 지불경비(최대금액 초과 결측)',
 'MQ14_2_3': '문14-1. 1인 평균 지출 경비_전체_항목별_쇼핑비(최대금액 초과 결측)',
 'MQ14_2_4': '문14-1. 1인 평균 지출 경비_전체_항목별_식음료비(최대금액 초과 결측)',
 'MQ14_2_5': '문14-1. 1인 평균 지출 경비_전체_항목별_현지 교통비(최대금액 초과 결측)',
 'MQ14_2_6': '문14-1. 1인 평균 지출 경비_전체_항목별_한국 여행사 지불비(최대금액 초과 결측)',
 'MQ14_2_7': '문14-1. 1인 평균 지출 경비_전체_항목별_문화, 오락 관련 지출(최대금액 초과 결측)',
 'MQ14_2_8': '문14-1. 1인 평균 지출 경비_전체_항목별_데이터 통신비(최대금액 초과 결측)',
 'MQ14_2_9': '문14-1. 1인 평균 지출 경비_전체_항목별_치료비(최대금액 초과 결측)',
 'Q1': '문1. 방한 횟수',
 'Q10_1A1': '문10-1. 한국 여행 중 방문지1',
 'Q10_1A10': '문10-1. 한국 여행 중 방문지10',
 'Q10_1A11': '문10-1. 한국 여행 중 방문지11',
 'Q10_1A12': '문10-1. 한국 여행 중 방문지12',
 'Q10_1A13': '문10-1. 한국 여행 중 방문지13',
 'Q10_1A14': '문10-1. 한국 여행 중 방문지14',
 'Q10_1A15': '문10-1. 한국 여행 중 방문지15',
 'Q10_1A16': '문10-1. 한국 여행 중 방문지16',
 'Q10_1A17': '문10-1. 한국 여행 중 방문지17',
 'Q10_1A18': '문10-1. 한국 여행 중 방문지18',
 'Q10_1A19': '문10-1. 한국 여행 중 방문지19',
 'Q10_1A2': '문10-1. 한국 여행 중 방문지2',
 'Q10_1A20': '문10-1. 한국 여행 중 방문지20',
 'Q10_1A21': '문10-1. 한국 여행 중 방문지21',
 'Q10_1A22': '문10-1. 한국 여행 중 방문지22',
 'Q10_1A23': '문10-1. 한국 여행 중 방문지23',
 'Q10_1A24': '문10-1. 한국 여행 중 방문지24',
 'Q10_1A25': '문10-1. 한국 여행 중 방문지25',
 'Q10_1A26': '문10-1. 한국 여행 중 방문지26',
 'Q10_1A27': '문10-1. 한국 여행 중 방문지27',
 'Q10_1A28': '문10-1. 한국 여행 중 방문지28',
 'Q10_1A29': '문10-1. 한국 여행 중 방문지29',
 'Q10_1A3': '문10-1. 한국 여행 중 방문지3',
 'Q10_1A30': '문10-1. 한국 여행 중 방문지30',
 'Q10_1A4': '문10-1. 한국 여행 중 방문지4',
 'Q10_1A5': '문10-1. 한국 여행 중 방문지5',
 'Q10_1A6': '문10-1. 한국 여행 중 방문지6',
 'Q10_1A7': '문10-1. 한국 여행 중 방문지7',
 'Q10_1A8': '문10-1. 한국 여행 중 방문지8',
 'Q10_1A9': '문10-1. 한국 여행 중 방문지9',
 'Q10_1B1': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 1 서울',
 'Q10_1B10': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 10 충북',
 'Q10_1B11': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 11 충남',
 'Q10_1B12': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 12 전북',
 'Q10_1B13': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 13 전남',
 'Q10_1B14': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 14 경북',
 'Q10_1B15': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 15 경남',
 'Q10_1B16': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 16 제주',
 'Q10_1B17': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 17 세종',
 'Q10_1B2': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 2 부산',
 'Q10_1B3': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 3 대구',
 'Q10_1B4': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 4 인천',
 'Q10_1B5': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 5 광주',
 'Q10_1B6': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 6 대전',
 'Q10_1B7': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 7 울산',
 'Q10_1B8': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 8 경기',
 'Q10_1B9': '문10-1. 한국 여행 중 방문 지역(17개 시도) - 9 강원',
 'Q10_1C1': '문10-1. 한국 여행 중 방문 권역 - 1 서울',
 'Q10_1C2': '문10-1. 한국 여행 중 방문 권역 - 2 경기도',
 'Q10_1C3': '문10-1. 한국 여행 중 방문 권역 - 3 인천',
 'Q10_1C4': '문10-1. 한국 여행 중 방문 권역 - 4 강원도',
 'Q10_1C5': '문10-1. 한국 여행 중 방문 권역 - 5 충청도',
 'Q10_1C6': '문10-1. 한국 여행 중 방문 권역 - 6 경상도',
 'Q10_1C7': '문10-1. 한국 여행 중 방문 권역 - 7 전라도',
 'Q10_1C8': '문10-1. 한국 여행 중 방문 권역 - 8 제주',
 'Q10_2A1': '문10-2. 가장 인상 깊었던 방문지1',
 'Q10_2A2': '문10-2. 가장 인상 깊었던 방문지2',
 'Q10_2A3': '문10-2. 가장 인상 깊었던 방문지3',
 'Q10_4_10A1': '문10-4. 시도별 숙박기간(원자료) - 10 경남',
 'Q10_4_10A2': '문10-4. 시도별 체재기간(원자료) - 10 경남',
 'Q10_4_11A1': '문10-4. 시도별 숙박기간(원자료) - 11 대구',
 'Q10_4_11A2': '문10-4. 시도별 체재기간(원자료) - 11 대구',
 'Q10_4_12A1': '문10-4. 시도별 숙박기간(원자료) - 12 울산',
 'Q10_4_12A2': '문10-4. 시도별 체재기간(원자료) - 12 울산',
 'Q10_4_13A1': '문10-4. 시도별 숙박기간(원자료) - 13 부산',
 'Q10_4_13A2': '문10-4. 시도별 체재기간(원자료) - 13 부산',
 'Q10_4_14A1': '문10-4. 시도별 숙박기간(원자료) - 14 광주',
 'Q10_4_14A2': '문10-4. 시도별 체재기간(원자료) - 14 광주',
 'Q10_4_15A1': '문10-4. 시도별 숙박기간(원자료) - 15 전북',
 'Q10_4_15A2': '문10-4. 시도별 체재기간(원자료) - 15 전북',
 'Q10_4_16A1': '문10-4. 시도별 숙박기간(원자료) - 16 전남',
 'Q10_4_16A2': '문10-4. 시도별 체재기간(원자료) - 16 전남',
 'Q10_4_17A1': '문10-4. 시도별 숙박기간(원자료) - 17 제주',
 'Q10_4_17A2': '문10-4. 시도별 체재기간(원자료) - 17 제주',
 'Q10_4_1A1': '문10-4. 시도별 숙박기간(원자료) - 1 서울',
 'Q10_4_1A2': '문10-4. 시도별 체재기간(원자료) - 1 서울',
 'Q10_4_2A1': '문10-4. 시도별 숙박기간(원자료) - 2 경기',
 'Q10_4_2A2': '문10-4. 시도별 체재기간(원자료) - 2 경기',
 'Q10_4_3A1': '문10-4. 시도별 숙박기간(원자료) - 3 인천',
 'Q10_4_3A2': '문10-4. 시도별 체재기간(원자료) - 3 인천',
 'Q10_4_4A1': '문10-4. 시도별 숙박기간(원자료) - 4 강원',
 'Q10_4_4A2': '문10-4. 시도별 체재기간(원자료) - 4 강원',
 'Q10_4_5A1': '문10-4. 시도별 숙박기간(원자료) - 5 대전',
 'Q10_4_5A2': '문10-4. 시도별 체재기간(원자료) - 5 대전',
 'Q10_4_6A1': '문10-4. 시도별 숙박기간(원자료) - 6 충북',
 'Q10_4_6A2': '문10-4. 시도별 체재기간(원자료) - 6 충북',
 'Q10_4_7A1': '문10-4. 시도별 숙박기간(원자료) - 7 충남',
 'Q10_4_7A2': '문10-4. 시도별 체재기간(원자료) - 7 충남',
 'Q10_4_8A1': '문10-4. 시도별 숙박기간(원자료) - 8 세종',
 'Q10_4_8A2': '문10-4. 시도별 체재기간(원자료) - 8 세종',
 'Q10_4_9A1': '문10-4. 시도별 숙박기간(원자료) - 9 경북',
 'Q10_4_9A2': '문10-4. 시도별 체재기간(원자료) - 9 경북',
 'Q10_5A1': '문10-5. 이용 숙박시설1',
 'Q10_5A2': '문10-5. 이용 숙박시설2',
 'Q10_5A3': '문10-5. 이용 숙박시설3',
 'Q10_5A4': '문10-5. 이용 숙박시설4',
 'Q10_5A5': '문10-5. 이용 숙박시설5',
 'Q10_5A6': '문10-5. 이용 숙박시설6',
 'Q10_5A7': '문10-5. 이용 숙박시설7',
 'Q10_5A8': '문10-5. 이용 숙박시설8',
 'Q10_5B1': '문10-5. 시도별 이용 주요 숙박시설 - 1 서울',
 'Q10_5B10': '문10-5. 시도별 이용 주요 숙박시설 - 10 경남',
 'Q10_5B11': '문10-5. 시도별 이용 주요 숙박시설 - 11 대구',
 'Q10_5B12': '문10-5. 시도별 이용 주요 숙박시설 - 12 울산',
 'Q10_5B13': '문10-5. 시도별 이용 주요 숙박시설 - 13 부산',
 'Q10_5B14': '문10-5. 시도별 이용 주요 숙박시설 - 14 광주',
 'Q10_5B15': '문10-5. 시도별 이용 주요 숙박시설 - 15 전북',
 'Q10_5B16': '문10-5. 시도별 이용 주요 숙박시설 - 16 전남',
 'Q10_5B17': '문10-5. 시도별 이용 주요 숙박시설 - 17 제주',
 'Q10_5B2': '문10-5. 시도별 이용 주요 숙박시설 - 2 경기',
 'Q10_5B3': '문10-5. 시도별 이용 주요 숙박시설 - 3 인천',
 'Q10_5B4': '문10-5. 시도별 이용 주요 숙박시설 - 4 강원',
 'Q10_5B5': '문10-5. 시도별 이용 주요 숙박시설 - 5 대전',
 'Q10_5B6': '문10-5. 시도별 이용 주요 숙박시설 - 6 충북',
 'Q10_5B7': '문10-5. 시도별 이용 주요 숙박시설 - 7 충남',
 'Q10_5B8': '문10-5. 시도별 이용 주요 숙박시설 - 8 세종',
 'Q10_5B9': '문10-5. 시도별 이용 주요 숙박시설 - 9 경북',
 'Q10_5_1': '문10-5. 숙박시설별 숙박기간(원자료) - 1 호텔',
 'Q10_5_2': '문10-5. 숙박시설별 숙박기간(원자료) - 2 모텔/여관',
 'Q10_5_3': '문10-5. 숙박시설별 숙박기간(원자료) - 3 게스트하우스/호스텔',
 'Q10_5_4': '문10-5. 숙박시설별 숙박기간(원자료) - 4 콘도, 리조트, 펜션',
 'Q10_5_5': '문10-5. 숙박시설별 숙박기간(원자료) - 5 친척 또는 친구집',
 'Q10_5_6': '문10-5. 숙박시설별 숙박기간(원자료) - 6 학교/회사 기숙사, 연수원',
 'Q10_5_7': '문10-5. 숙박시설별 숙박기간(원자료) - 7 민박/공유숙박(에어비앤비 등.',
 'Q10_5_8': '문10-5. 숙박시설별 숙박기간(원자료) - 8 기타',
 'Q10_6A1': '문10-6. 총 숙박기간(원자료)',
 'Q10_6A2': '문10-6. 총 체재기간(원자료)',
 'Q11_1A1': '문11-1. 주요 쇼핑 품목1',
 'Q11_1A2': '문11-1. 주요 쇼핑 품목2',
 'Q11_1A3': '문11-1. 주요 쇼핑 품목3',
 'Q11_2A1': '문11-2. 주요 쇼핑 장소1',
 'Q11_2A2': '문11-2. 주요 쇼핑 장소2',
 'Q11_2A3': '문11-2. 주요 쇼핑 장소3',
 'Q12': '문12. 여행형태',
 'Q13': '문13. 한국 여행 중 스마트폰 사용 여부',
 'Q13_1': '문13-1. 스마트폰 사용 방식1',
 'Q13_2': '문13-1. 스마트폰 사용 방식2',
 'Q13_3': '문13-1. 스마트폰 사용 방식3',
 'Q14_1A': '문14-1. 1인 평균 지출 경비_전체_결제방법_신용카드, 체크카드(원자료)',
 'Q14_1B': '문14-1. 1인 평균 지출 경비_전체_결제방법_현금, 수표(원자료)',
 'Q14_1C': '문14-1. 1인 평균 지출 경비_전체_결제방법_스마트폰(원자료)',
 'Q14_1T': '문14-1. 1인 평균 지출 경비_전체_총액(원자료)',
 'Q14_2_1': '문14-1. 1인 평균 지출 경비_전체_항목별_숙박비(원자료)',
 'Q14_2_10': '문14-1. 1인 평균 지출 경비_전체_항목별_기타(원자료)',
 'Q14_2_2': '문14-1. 1인 평균 지출 경비_전체_항목별_본인 거주국 지불경비(원자료)',
 'Q14_2_3': '문14-1. 1인 평균 지출 경비_전체_항목별_쇼핑비(원자료)',
 'Q14_2_4': '문14-1. 1인 평균 지출 경비_전체_항목별_식음료비(원자료)',
 'Q14_2_5': '문14-1. 1인 평균 지출 경비_전체_항목별_현지 교통비(원자료)',
 'Q14_2_6': '문14-1. 1인 평균 지출 경비_전체_항목별_한국 여행사 지불비(원자료)',
 'Q14_2_7': '문14-1. 1인 평균 지출 경비_전체_항목별_문화, 오락 관련 지출(원자료)',
 'Q14_2_8': '문14-1. 1인 평균 지출 경비_전체_항목별_데이터 통신비(원자료)',
 'Q14_2_9': '문14-1. 1인 평균 지출 경비_전체_항목별_치료비(원자료)',
 'Q15_1': '문15-1. 한국여행에 대한 전반적 만족도',
 'Q15_2A1': '문15-2. 한국여행에 대한 항목별 만족도_출입국 절차',
 'Q15_2A10': '문15-2. 한국여행에 대한 항목별 만족도_언어소통',
 'Q15_2A11': '문15-2. 한국여행에 대한 항목별 만족도_길 찾기',
 'Q15_2A12': '문15-2. 한국여행에 대한 항목별 만족도_관광안내서비스',
 'Q15_2A2': '문15-2. 한국여행에 대한 항목별 만족도_대중교통',
 'Q15_2A3': '문15-2. 한국여행에 대한 항목별 만족도_숙박',
 'Q15_2A4': '문15-2. 한국여행에 대한 항목별 만족도_음식',
 'Q15_2A5': '문15-2. 한국여행에 대한 항목별 만족도_쇼핑',
 'Q15_2A6': '문15-2. 한국여행에 대한 항목별 만족도_관광지 매력도',
 'Q15_2A7': '문15-2. 한국여행에 대한 항목별 만족도_여행경비',
 'Q15_2A8': '문15-2. 한국여행에 대한 항목별 만족도_치안(안전성)',
 'Q15_2A9': '문15-2. 한국여행에 대한 항목별 만족도_모바일/인터넷 이용 편의',
 'Q16': '문16. 향후 3년 내 관광목적 재방문 의향',
 'Q17': '문17. 타인 추천 의향',
 'Q18': '문18. 연 가구 소득',
 'Q2A1': '문2. 동반자 현황1',

In [ ]:
# 중동3개국 : 596
# 중동3개국+말레이지아+인도네시아 : 1812

In [ ]:
m1_df = df[(df['D_COU2']==15.1)|(df['D_COU2']==15.2)|(df['D_COU2']==15.3)]

In [206]:
mu_df = df[(df['D_COU2']==15.1)|(df['D_COU2']==15.2)|(df['D_COU2']==15.3)|(df['D_COU1']==18)|(df['D_COU1']==7)]

In [ ]:
m_df['Q15_2A1']

11748    3.0
11749    4.0
11750    4.0
11751    4.0
11752    1.0
        ...
16003    3.0
16004    5.0
16005    5.0
16023    5.0
16024    5.0
Name: Q15_2A1, Length: 1812, dtype: float64

In [207]:
mu_df['D_COU'] = m2_df['D_COU2'].apply(lambda x: 1 if x == 15.1 or x == 15.2 or x== 15.3 else 0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
mu_df.drop(['D_COU1','D_COU2'],axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
m2_df['Q5_1'].value_counts()

1.0    1136
3.0     403
8.0     152
4.0      63
6.0      57
5.0       1
Name: Q5_1, dtype: int64

In [208]:
mu_df['Q5_1'] = m2_df['Q5_1'].apply(lambda x: 8 if x == 2 else x)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [209]:
mu_df['Q5_1'] = m2_df['Q5_1'].apply(lambda x: 2 if x == 3 else x)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [210]:
mu_df['Q5_1'] = m2_df['Q5_1'].apply(lambda x: 3 if x == 4 else x)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [211]:
mu_df['Q5_1'] = m2_df['Q5_1'].apply(lambda x: 4 if x == 5 else x)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [212]:
mu_df['Q5_1'] = m2_df['Q5_1'].apply(lambda x: 5 if x == 6 else x)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [213]:
mu_df['Q5_1'] = m2_df['Q5_1'].apply(lambda x: 5 if x == 8 else x)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [214]:
mu_df['Q5_1'].value_counts()

1.0    1136
2.0     403
5.0     209
3.0      63
4.0       1
Name: Q5_1, dtype: int64

In [167]:
mu_df['Q9_1A1']

11748    1.0
11749    1.0
11750    1.0
11751    1.0
11752    2.0
        ...
16003    1.0
16004    1.0
16005    1.0
16023    2.0
16024    4.0
Name: Q9_1A1, Length: 1812, dtype: float64

In [215]:
m_t4=mu_df

In [281]:
m_t4['Q9_1A5'].value_counts()

5.0     372
6.0     190
8.0      89
7.0      74
11.0     56
9.0      46
10.0     27
12.0     21
13.0      5
2.0       3
14.0      3
1.0       1
Name: Q9_1A5, dtype: int64

In [283]:
for i in range(20):
  m_t4['QQ_{0}'.format(i+2)]=0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [302]:
for j in range(20):
  for i in range(len(m_t4['Q9_1A{0}'.format(j+1)])):
    if m_t4['Q9_1A{0}'.format(j+1)][i:i+1].values ==14:
      m_t4['QQ_14'][i:i+1]= 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:1042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_with(key, value)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [304]:
for i in range(20):
  print(m_t4['QQ_{0}'.format(i+1)].value_counts())

1    973
0    839
Name: QQ_1, dtype: int64
1    1716
0      96
Name: QQ_2, dtype: int64
1    1280
0     532
Name: QQ_3, dtype: int64
1    1187
0     625
Name: QQ_4, dtype: int64
0    1087
1     725
Name: QQ_5, dtype: int64
0    1207
1     605
Name: QQ_6, dtype: int64
0    1487
1     325
Name: QQ_7, dtype: int64
0    1338
1     474
Name: QQ_8, dtype: int64
0    1499
1     313
Name: QQ_9, dtype: int64
0    1626
1     186
Name: QQ_10, dtype: int64
0    1411
1     401
Name: QQ_11, dtype: int64
0    1690
1     122
Name: QQ_12, dtype: int64
0    1764
1      48
Name: QQ_13, dtype: int64
0    1804
1       8
Name: QQ_14, dtype: int64
0    1812
Name: QQ_15, dtype: int64
0    1812
Name: QQ_16, dtype: int64
0    1812
Name: QQ_17, dtype: int64
0    1812
Name: QQ_18, dtype: int64
0    1812
Name: QQ_19, dtype: int64
0    1812
Name: QQ_20, dtype: int64

In [306]:
m_t4['Q12'] = m_t4['Q12'].apply(lambda x: 2 if x == 3 else x)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [308]:
m_t4['Q12'].value_counts()

1.0    1446
2.0     366
Name: Q12, dtype: int64

In [316]:
m_t4['Q16']

0

In [317]:
for i in range(len(m_t4['Q16'])):
  if m_t4['Q16'][i:i+1].values == 4 or m_t4['Q16'][i:i+1].values == 5 :
    m_t4['Q16_a'][i:i+1]= 1
  else:
    m_t4['Q16_a'][i:i+1]= 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:1042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_with(key, value)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [318]:
m_t4['Q16_a'].value_counts()

1    1590
0     222
Name: Q16_a, dtype: int64

- 동반자 현황 : Q2A1
- 주요 방한목적 : Q5_1
- 주요 활동 참여 여부 : QQ_1 ~ QQ_14
- 여행 형태 : Q12
- 1인 평균 지출 경비 총액 : CQ14_1T
- 국가 : D_COU
- 성별 : D_GEN
- 연령별 : D_AGE
- 재방문 의향 : Q16_a

In [339]:
ms_df= m_t4[['Q2A1','Q5_1','QQ_1','QQ_2','QQ_3','QQ_4','QQ_5','QQ_6','QQ_7','QQ_8','QQ_9','QQ_10','QQ_11','QQ_12','QQ_13','QQ_14','CQ14_1T','D_COU','D_GEN','Q16_a']]

In [340]:
ms_df.head(10)

       Q2A1  Q5_1  QQ_1  QQ_2  QQ_3  ...  QQ_14  CQ14_1T  D_COU  D_GEN  Q16_a
11748   3.0   1.0     1     1     1  ...      0      3.0      0    2.0      1
11749   1.0   1.0     1     1     1  ...      0      3.0      0    1.0      1
11750   2.0   1.0     1     1     1  ...      0      2.0      0    2.0      1
11751   3.0   1.0     1     1     1  ...      0      4.0      0    1.0      1
11752   2.0   1.0     0     1     0  ...      0      6.0      0    1.0      1
11753   2.0   1.0     0     1     1  ...      0      4.0      0    2.0      1
11754   2.0   1.0     1     1     1  ...      0      2.0      0    1.0      1
11755   2.0   1.0     1     1     1  ...      0      1.0      0    2.0      1
11756   2.0   1.0     0     1     0  ...      0      5.0      0    2.0      1
11757   2.0   1.0     1     1     1  ...      0      4.0      0    1.0      1

[10 rows x 20 columns]

In [338]:
m_t4['Q16_a'].isnull().sum()

0

In [333]:
m_t4['CQ14_1T'].value_counts()

2.0    594
3.0    371
1.0    347
4.0    182
5.0    169
6.0    138
7.0     11
Name: CQ14_1T, dtype: int64

In [332]:
for i in range(len(m_t4['CQ14_1T'])):
  if m_t4['CQ14_1T'][i:i+1].values == 98:
    m_t4['CQ14_1T'][i:i+1]= 7

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:1042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_with(key, value)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [341]:
ms_df.to_csv('/content/drive/My Drive/빅데이터/2019_d.csv')