<a href="https://colab.research.google.com/github/telecaster15/tourbigdata/blob/master/notebook/sinhan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import csv

In [3]:
f = open('/content/drive/My Drive/빅데이터/신한카드 데이터/KCTI_FOREIGNER.txt','r')

In [4]:
line = f.readline()
line

'NT|V2|V3|GB3|GB2|TA_YM|DAW_CCD_R|APV_TS_DL_TM_R|VLM|USEC\n'

In [5]:
contents = []
s_contents=[]
with open('/content/drive/My Drive/빅데이터/신한카드 데이터/KCTI_FOREIGNER.txt', 'r') as f:
    reader = csv.reader(f, delimiter = '\t')
    for row in f:
        contents.append(row)

In [6]:
for i in range(len(contents)):
  split = contents[i].split('|')
  s_contents.append(split)

In [7]:
with open('/content/drive/My Drive/빅데이터/신한카드 데이터/sinhan_fore.csv', 'wt', encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerows(s_contents)

In [8]:
df = pd.read_csv('/content/drive/My Drive/빅데이터/신한카드 데이터/sinhan_fore.csv',encoding='utf-8')

In [9]:
df.head()

    NT  V2   V3 GB3   GB2   TA_YM DAW_CCD_R APV_TS_DL_TM_R       VLM  USEC\n
0   태국  서울  용산구  쇼핑  기타지출  201703     WHITE             기타   3917910      55
1   일본  서울  용산구  쇼핑  기타지출  201805     WHITE             기타  11586560     261
2   영국  서울  용산구  쇼핑  기타지출  201807     WHITE             기타   3483630     120
3  베트남  경기  오산시  쇼핑  기타지출  201705     WHITE             기타     12000       9
4   미국  서울  용산구  쇼핑  기타지출  201802       RED             기타  20831646     449

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2730139 entries, 0 to 2730138
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   NT              object
 1   V2              object
 2   V3              object
 3   GB3             object
 4   GB2             object
 5   TA_YM           int64
 6   DAW_CCD_R       object
 7   APV_TS_DL_TM_R  object
 8   VLM             int64
 9   USEC
           int64
dtypes: int64(3), object(7)
memory usage: 208.3+ MB

In [11]:
df.isnull().sum()

NT                0
V2                0
V3                0
GB3               0
GB2               0
TA_YM             0
DAW_CCD_R         0
APV_TS_DL_TM_R    0
VLM               0
USEC\n            0
dtype: int64

In [12]:
df['NT'].value_counts()

미국         356477
일본         235161
중국         219838
오스트레일리아    159675
캐나다        156179
러시아        152500
영국         146092
홍콩         131581
싱가폴        124273
독일         123245
프랑스        120418
대만         118335
태국         116418
베트남        106839
말레이지아       88331
인도네시아       82396
필리핀         82139
아랍에미레이트     79987
카자흐스탄       73259
몽고          56996
Name: NT, dtype: int64

In [13]:
df2 = df.drop('DAW_CCD_R',axis=1)
df2.head()

    NT  V2   V3 GB3   GB2   TA_YM APV_TS_DL_TM_R       VLM  USEC\n
0   태국  서울  용산구  쇼핑  기타지출  201703             기타   3917910      55
1   일본  서울  용산구  쇼핑  기타지출  201805             기타  11586560     261
2   영국  서울  용산구  쇼핑  기타지출  201807             기타   3483630     120
3  베트남  경기  오산시  쇼핑  기타지출  201705             기타     12000       9
4   미국  서울  용산구  쇼핑  기타지출  201802             기타  20831646     449

In [23]:
m_df=df2[(df2['NT']=='인도네시아')|(df2['NT']=='아랍에미레이트')|(df2['NT']=='말레이지아')|(df2['NT']=='카자흐스탄')][['NT','V3','V3','GB3','GB2','VLM']]

In [31]:
m_df.to_csv('/content/drive/My Drive/빅데이터/신한카드 데이터/m_shinhan.csv')